/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  Styles for the blog1.html and blog2.html pages, the pages where the posts
  are supposed to be.

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
@import "navbar-styles.css";
@import "footer-styles.css";
@import "template.css";

.pre-cont-1{
  background-image: url("https://images.unsplash.com/photo-1571740173801-7bed35d83de7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1313&q=80");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-article-cont1, .post2-article-cont1{
  grid-area: main;
  background-color: rgba(255,255,255,0.6);
  margin: 10px 0 10px 0px;
  padding: 10px;
}

.post-article-cont2, .post2-article-cont2{
  grid-area: main2;
  background-color: rgba(255,255,255,0.6);
  padding: 10px;
}

.post-header{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}

.author-card{
  border-left: 4px solid white;
  display: flex;
  margin: 30px auto;
  padding: 10px;
  max-width: 600px;
  background-color: rgba(130,130,130,0.5);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.35);
}

.author-avatar-cont{
  flex-basis: 50%;
  align-self: center;
}

.post-author-icon{
  font-size: 30px;
  color: black;
}

.author-head-details-cont{
  flex-basis: 50%;
  align-self: center;
}

.author-name{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.author-title{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
}

.author-company{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.author-bio{
  font-size: 12px;
  color: rgb(100,100,100);
  align-self: center;
  flex-basis: 100%;
}

@media screen and (max-width: 320px){
  .author-bio{
    display: none;
  }
}

.post-text, .post2-text{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 0 10px 10px 10px;
  text-align: left;
}

.underline-text{
  text-decoration: underline;
}

.post1-cont2{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "head head head head"
  "par1 par1 par1 par1"
  "par2 par2 par2 par2"
  "par3 par3 par3 par3"
}

.post1-head{
  grid-area: head;
}

.post1-par1{
  grid-area: par1;
}

.post1-par2{
  grid-area: par2;
}

.post1-par3{
  grid-area: par3;
}
